* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    border: 1px solid black;
    margin: 50px;
    padding: 20px;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    box-shadow: 5px 5px 10px 3px gray;
}

div img {
    height: 230px;
    width: 240px;
    border-radius: 10px;
    position: absolute;
    left: 24px;
}

.span1 {
    position: absolute;
    top: 260px;
    left: 30px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
}

.span2 {
    position: absolute;
    top: 260px;
    left: 90px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
}

.Para p {
    position: absolute;
    top: 330px;
    font-size: 15px;
}

.Para h3 {
    position: absolute;
    top: 300px;
}

.Para span {
    position: absolute;
    bottom: 10px;
    left: 100px;
    background-color: lightblue;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    font-size: small;
    color: blueviolet;
}