body{
    font-family:Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

ul li a {
    text-decoration: none;
}

li {
    list-style: none;
}

section h2,p{
    text-align: center;
}

.card-item {
    border: 2px solid rgba(255, 5, 5, 0.432);
    width: 200px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 8px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.418);
}

.card-item:hover{
    background-color: rgba(173, 216, 230, 0.507);
}

.card-item p{
    text-align: left;
}

.card-item img {
    width: 100%;
    border-radius: 5px;
}

.card-item button{
    padding: 5px 10px;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    background-color:rgb(21, 147, 197);
    border: none;
    cursor: pointer;
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}